body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    order: 3;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }
    .about {
        background-color: #86752f;
        color: #fff;
        display: flex;
    order: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
      }
      
      .contact {
        background-color: #33324b;
        color:white;
        display: flex;
    order: 3;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
      }
      
      form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
      
      form input,
      form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
       
      form button {
        background-color: #d28106;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
      }
      
      form button:hover {
        background-color: #555;
      }
        
      footer {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
      }
      