body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: rgb(2, 86, 114);
  }
  
  .navigation li:first-child {
    margin-right: auto;
  }
  
  .navigation a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: white;
  }


  .about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    background: rgb(224, 144, 5);
    height: 350px;
    color: white;
  }
  
  .about .Wdc{
    margin-bottom: 10px;
    font-size: 30px;
    align-self: center;
  }
  
  .about .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    background: rgb(12, 51, 90);
    color: white;
    height: 120px;
  }
  
  .subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    form input,
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
     
    form button {
      background-color: #d28106;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
    }
    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 20px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 80%;
      }
      
    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
 
    }
    
    .service img {
        width: 30%;
    }
      
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }